ft_mode: full_ft
optimizer: adamW
lr: 1e-3
weight_decay: 1e-4
max_epochs: 100
patience: 15
pretrained_ckpt: ./rmf_cktp/final_model.ckpt
l2sp_alpha: 0            # off for linear probe
s2_head_in_ch: 64
pc_head_in_ch: 32
freeze_last_k: 1

# General
dataset: rmf_sp
data_dir: /mnt/g/rmf/rmf_superpixel_dataset
tile_size: 128
n_bands: 9

#n_classes: 8
#class_names: ['SB','LA','PJ','BW','PT','BF','CW','SW']
wrf_sp_class_weights: [0.00581433, 0.04249615, 0.01268365, 0.01761785, 0.02549208, 0.04876563, 0.09891814,0.74821219]
wrf_sp_season_map: ["img_s2_spring", "img_s2_summer", "img_s2_fall", "img_s2_winter"]
wrf_sp_img_mean: [0.13940404659725547, 0.15333042024211455, 0.14570949964179553, 0.17920036480947876, 0.25741902859797583, 0.2778984814406548, 0.18045766743090216, 0.14486279940253077, 0.29384077564130473]
wrf_sp_img_std: [0.06311265206632495, 0.058821895611075564, 0.060286401565781744, 0.05883486764221581, 0.059399116361657324, 0.06103218021711056, 0.03841718747514112, 0.017991467035539156, 0.06130167877678275]
n_classes: 9
class_names: ["BF", "BW", "CE", "LA", "PT", "PJ", "PO", "SB", "SW"]
rmf_sp_class_weights: [0.13698052, 0.02423971, 0.05625495, 0.04423566, 0.0258036 , 0.03557034, 0.25459799, 0.00646059, 0.41585663]
rmf_sp_season_map: ["img_s2_spring", "img_s2_summer", "img_s2_fall", "img_s2_winter"]
rmf_sp_img_mean: [0.03143438892257177, 0.04599593009591673, 0.03839599945331553, 0.07086259592524217, 0.15610703817935337, 0.17926126493589656, 0.07738302697998556, 0.04106526673859286, 0.19440731995176916]
rmf_sp_img_std: [0.06415304925477038, 0.06200656250880813, 0.06358147692998166, 0.06342475618939908, 0.06746606522481252, 0.07134634097950032, 0.03421618568094429, 0.01534128202581308, 0.07240852113287985]

# Training parameters
task: tsca
head:  fuse_head # Options: no_pc_head, fuse_head, all_head, no_img_head
pretrained_ckpt: None #tl_logs/no_img_head_unet_pointnet_rmf_cosine/wandblogs/TL-TSC/28g98vp3/checkpoints/epoch=0-step=3246.ckpt
fix_backbone: false
batch_size: 32
max_epochs: 300
optimizer: adamW                 # Options: adam, adamW, sgd
scheduler: steplr
step_size: 10
momentum: 0.9
decision_fuse_type: weighted #weighted, mlp

# Loss weights
multitasks_uncertain_loss: false
loss_func: ewmse

# Model architecture
network: ResUnet
emb_dims: 768
num_points: 7168
encoder: b                      # Options: s, b, l, xl
fusion_dim: 256
dp_fuse: 0.6
dp_pc: 0.3
use_ms: false
linear_layers_dims: [512, 256]
align_header: img

# Data transforms
image_transform: compose
point_cloud_transform: true
rotate: false
pc_normal: false

# Hardware
gpus: 1